/* General */

.com_faqbookpro.view- a[target="_blank"]::before,
.com_faqbookpro.view-dashboard a[target="_blank"]::before {
  content: none;
}

/* Dashboard */

body.com_faqbookpro.view- #subhead-container,
body.com_faqbookpro.view-dashboard #subhead-container {
  display: none;
}

/* Dashboard brand */

.minitek-dashboard .brand {
  border: 1px solid #b4e1ea;
  background: #d9edf7;
}

.minitek-dashboard .brand h2,
.minitek-dashboard .brand p {
  color: #2b7fbd;
}

/* Dashboard cards */

.dashboard-cards .icon {
  font-size: 38px;
  width: 38px;
  height: 38px;
  color: #2b7fbd;
}

/* Dashboard modules */

.dashboard-module .list-group-item [class*=" icon-"] {
  color: #2b7fbd;
}

/* Separators */

label[id^="jform_attribs_separator_"] {
  display: none !important;
}

.mmSeparator {
  box-sizing: border-box;
  background: none repeat scroll 0 0 #e8f3f9;
  color: #555;
  margin: 10px 0 0;
  padding: 5px;
  float: left;
  width: 100%;
  font-size: 12px;
}

.mmSeparator h3,
.mmSeparator h4 {
  margin: 0;
  padding: 5px;
  font-weight: 400;
}

.mmSeparator h4 {
  font-size: 15px;
}

/* Questions */

body.com_faqbookpro.view-questions .itemList tr.pinned td,
body.com_faqbookpro.view-questions .itemList tr.pinned th {
  background: #fff3fe;
}

body.com_faqbookpro.view-questions .itemList th .fa-thumbtack {
  color: #bb7bb4;
}

/* Question */

.question-title .badge {
  margin: 0 0 0 5px;
}

.question-title .question-icon {
  margin: 0 5px 0 0;
}

/* Custom fields */

.fbForm_customfields_wrap {
  padding: 0 0 20px;
}
