/* General */

.com_faqbookpro.view- a[target="_blank"]::before,
.com_faqbookpro.view-dashboard a[target="_blank"]::before {
	content: none;
}

/* Dashboard */

body.com_faqbookpro.view- #subhead,
body.com_faqbookpro.view-dashboard #subhead {
	display: none;
}

/* Dashboard media box */

.minitek-dashboard .media {
	border: 1px solid #b4e1ea;
	border-radius: .25rem;
	margin: 5px 0 10px;
	padding: 15px;
	background: #d9edf7;
	box-shadow: 0 1px 3px rgba(0,0,0,0.055);
}

.minitek-dashboard .media-object {
	opacity: 0.8;
}

.minitek-dashboard .media-body {
	padding: 20px;
	color: #4780aa;
}

.minitek-dashboard .media-heading {
	margin: 0 0 15px;
}

.minitek-dashboard .media-heading .label {
	vertical-align: middle;
}

/* Dashboard thumbnails */

.dashboard-thumbnails {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 -5px;
}

.dashboard-thumbnails .thumbnail {
	flex-grow: 1;
	flex-basis: 23%;
	border: 0;
	padding: 0;
	text-align: center;
	background: #fff;
	margin: 0 5px 10px;
	min-width: inherit;
}

.dashboard-thumbnails .thumbnail a {
	display: inline-block;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	padding: 20px 15px 10px;
}

.dashboard-thumbnails .thumbnail:last-child a {
	padding: 20px 15px 0;
}

.dashboard-thumbnails .thumbnail:last-child .small {
	font-size: 11px;
}

.dashboard-thumbnails .thumbnail .icon {
	font-size: 38px;
	width: 38px;
	height: 38px;
	display: inline-block;
	margin: 0;
	line-height: 1;
	color: #71a0c0;
}

.dashboard-thumbnails .thumbnail-title {
	margin: 20px 0 15px;
	font-size: 15px;
	font-weight: 400;
	display: inline-block;
	width: 100%;
}

/* Sidebar */

.dashboard-module .card {
	overflow: hidden;
}

/* Alert boxes */

.com_faqbookpro.view-section .alert,
.com_faqbookpro.view-topic .alert,
.com_faqbookpro.view-question .alert {
	margin-top: 0;
}

/* Separators */

label[id^="jform_attribs_separator_"] {
	display: none !important;
}

.mmSeparator {
	box-sizing: border-box;
	background: none repeat scroll 0 0 #e8f3f9;
	color: #555;
	margin: 10px 0 0;
	padding: 5px;
	float: left;
	width: 100%;
	font-size: 12px;
}

.mmSeparator h3,
.mmSeparator h4 {
	margin: 0;
	padding: 5px;
	font-weight: 400;
}

.mmSeparator h4 {
	font-size: 15px;
}

/* Topic section_id_duplicate */

.control-group .controls.section_id_duplicate {
	margin: 0;
}

/* Question */

.question-title .badge {
	margin: 0 0 0 5px;
}

.question-title .question-icon {
	margin: 0 5px 0 0;
}

/* Custom fields */

.fbForm_customfields_wrap {
	padding: 0 0 20px;
}
